################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
lineage/
code-server/logs/
code-server/extensions/*
machineid
core.node.*